<!DOCTYPE html>
<html>
<head>
  <title>NdEmployeeLookup</title>
  <%= stylesheet_link_tag    "nd_employee_lookup/application", media: "all" %>
  <%= javascript_include_tag "nd_employee_lookup/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
