div.ec-link {
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
  float: right;
  display: none;
}
div.ec-link:hover {
  cursor: pointer;
}
div.edit-content {
  background-image: asset-data-url('nd_employee_lookup/pen_22x22.png');
}
div.close-content {
  background-image: asset-data-url('nd_employee_lookup/x_22x22.png');
}

.border-bottom {
  border-bottom: 1px black solid;
  padding-bottom: .4rem;
  margin-bottom: .5rem;
}
.emp_sel_pidm {
  display: none;
}
.emp_sel_middle {
  display: none;
}
.emp_sel_status {
  display: none;
}
.emp_sel_ecls_code {
  display: none;
}
.emp_sel_last_paid_date {
  display: none;
}
.emp_sel_pict_code {
  display: none;
}
.emp_sel_current_hire_date {
  display: none;
}
.emp_sel_first_hire_date {
  display: none;
}
.emp_sel_term_reason_code {
  display: none;
}
.emp_sel_term_date {
  display: none;
}
.emp_sel_adjusted_service_date {
  display: none;
}
.emp_sel_seniority_date {
  display: none;
}
div.select_box:hover {
  background-color: #faf2c0;
  box-shadow: 2px 2px 1px #888;
}
div.select_box {
  border: 1px #a0a0a0 solid;
  background-color: #f8f8f8;
  padding: .25rem;
  margin: .5rem;
}
.ajax-processing {
  padding: 10px;
  background: white  asset-data-url('ui-anim_basic_16x16.gif') right center no-repeat;
}

// hide helpful text from jquery ui autocomplete
.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


.ui-autocomplete {
    max-height: 200px;
    max-width: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    white-space:nowrap;
  }


 .ui-menu .ui-menu-item {
 	font-size: 0.75rem;

 }

 .ui-left-loading {
   background: white  asset-data-url('ui-anim_basic_16x16.gif') right center no-repeat;
   background-position: 50px;
 }

 .ui-autocomplete-loading {
   background: white  asset-data-url('ui-anim_basic_16x16.gif') right center no-repeat;
 }
 .ui-autocomplete-loading:focus {
   background: #fafafa  asset-data-url('ui-anim_basic_16x16.gif') right center no-repeat;
 }


 input[type="text"].ui-autocomplete-loading {
 	background: white  asset-data-url('ui-anim_basic_16x16.gif') right center no-repeat;
 }

 input[type="text"].ui-autocomplete-loading:focus {
 	background: #fafafa  asset-data-url('ui-anim_basic_16x16.gif') right center no-repeat;
 }
