<script>

$(document).ready(function() {

  $('#edit_employee_button').click( function() {
    change_employee(); });
  $('#close_edit_employee_button').click( function() {
    close_without_editing_employee(); });

  $(document).on('submit','form',function(){
    $('#submit_processing').addClass('ajax-processing');
    return(true);
  });

  $(document).on('nd_employee_lookup:employee_selected',function(event, employee_data) {
    display_employee(employee_data);
  });
});

</script>
<%= javascript_include_tag 'nd_employee_lookup/employee_lookup_full.js' %>
<div class="row">
  <div class="large-12 medium-12 small-12">
    <h1>Employee Lookup</h1>
  </div>
</div>

<div class="row">
  <div style="position: relative;">
    <div class="edit-content ec-link" id="edit_employee_button" >&nbsp;</div>
    <div class="close-content ec-link" id="close_edit_employee_button">&nbsp;</div>
  </div>
</div>

<div class="row" id="employee_edit"  >
  <!-- begin partial -->
  <%= render 'nd_employee_lookup/employee_lookup/employee_search' %>
  <!-- end partial -->
</div>

<div id="employee_display"  style="display:none; ">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns left "><div class="border-bottom"><strong><span >Name: </span><span id="employee_name"></span></strong></div></div>
  </div>
  <div class="row">
    <div class="large-1 medium-1 small-3 columns left"><label>NetID:</label></div>
    <div class="large-3 medium-3 small-9 columns left"><span id="employee_net_id">&nbsp;</span></div>
    <div class="large-2 medium-2 small-3 columns left"><label>Home Orgn: </label></div>
    <div class="large-6 medium-6 small-9 columns left"><span id="employee_home_org">&nbsp;</span></div>
  </div>
  <div class="row">
    <div class="large-1 medium-1 small-3 columns left"><label>ndID:</label></div>
    <div class="large-3 medium-3 small-9 columns left"><span id="employee_nd_id">&nbsp;</span></div>
    <div class="large-2 medium-2 small-3 columns left"><label>Primary Title: </label></div>
    <div class="large-6 medium-6 small-9 columns left"><span id="employee_title">&nbsp;</span></div>
  </div>
</div>
